h1 {
  Font-weight: Bold;
  font-size: 40px;
  font-family:Trebuchet, helvetica;
  font-style:normal;
  text-align:center;
}

h4 {
   Font-weight: Bold;
  font-size: 24px;
  font-family:Trebuchet, helvetica;
  font-style:normal;
  text-align:center;
}

h2 {
   Font-weight: Bold;
  font-size: 20px;
  font-family:Trebuchet, helvetica;
  font-style:normal;
  text-align:left;
}




